extends layout
block content
    div(class="container-fluid")
        h1= title
    - let items=results
        div(class="row")
            each form,item in items
                div(class = "col-sm-2 bg-danger" onclick=`buy(${item})`) #{form.Fox_color}              
                div(class = "col-sm-2 bg-danger" onclick=`buy(${item})`) #{form.Fox_breed}                
                div(class = "col-sm-2 bg-danger" onclick=`buy(${item})`) #{form.Fox_price}
                hr
    script.
        function buy(itemNo) 
        { 
            alert(`You purchased Item ${itemNo+1}`)
        }            